header {
    padding: 8rem 45rem;
    text-align: center;
    h2 {
        font-size: 3.5rem;
    }
    .upper-heading {
        font-weight: 200;
    }
    p {
        margin-top: 1.5rem;
        font-size: 1.5rem;
        font-weight: 200;
    }
}