$primaryColors: (
  red: hsl(0, 78%, 62%),
  cyan: hsl(180, 62%, 55%),
  orange: hsl(34, 97%, 64%),
  blue: hsl(212, 86%, 64%),
);

@function primaryColor($color) {
  @return map-get($primaryColors, $color);
}

$neutralColors: (
  very-dark-blue: hsl(234, 12%, 34%),
  grayish-blue: hsl(229, 6%, 66%),
  very-light-gray: hsl(0, 0%, 98%),
);

@function neutralColor($color) {
  @return map-get($neutralColors, $color);
}

@mixin flex($just, $align) {
  display: flex;
  justify-content: $just;
  align-items: $align;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

html {
  font-size: 62.5%;
}

body {
  color: neutralColor(very-dark-blue);
}

@media (max-width: 500px) {
  html {
    font-size: 60%;
  }
}

@media (max-width: 400px) {
  html {
    font-size: 50%;
  }
}

@import "header";
@import "main";
